<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="alarm-form.html">
<link rel="import" href="alarm-view.html">

<dom-module id="alarm-list">
	<template>
		<style>
		</style>
		<template is="dom-if" if="{{ isEditing }}" restamp="true">
			<alarm-form alarm-id="{{ idEditing }}"
				resource-url="{{ resourceUrl }}">
			</alarm-form>
		</template>
		<button on-click="_create">Create</button>
		<template is="dom-repeat" items="{{alarms}}" sort="timeRemaining">
			<alarm-view 
				alarm-id="{{ item.id }}"
				hours="{{ item.hours }}"
				minutes="{{ item.minutes }}"
				days="{{ item.days }}"
				resource-url="{{ resourceUrl }}">
			</alarm-view>

		</template>
		<iron-ajax
			auto
			url="{{ resourceUrl }}"
			handle-as="json"
			on-response="_load"
			debounce-duration="300"></iron-ajax>
	</template>
</dom-module>

<script>
	Polymer({
		is: 'alarm-list',

		properties: {
			isEditing: Boolean,
			idEditing: 0,
			alarms: {
				type: Array,
				value: []
			}
		},

		_load: function (request) {
			this.set('alarms', request.detail.response);
		},

		_create: function () {
			this.idEditing = 0;
			this.isEditing = true;
		},
		
		listeners: {
			'save': 'onFormClose',
			'close': 'onFormClose',
			'edit': 'onEdit',
			'remove': 'refresh'
		},

		onFormClose: function () {
			this.refresh();
			this.isEditing = false;
			this.idEditing = 0;
		},

		onEdit: function (e) {
			this.idEditing = e.target.get('alarmId');
			this.isEditing = true;
		},

		// Utility

		timeRemaining: function (a, b) {
			return a.hours > b.hours ? 1 : -1;
		},

		refresh: function () {
			this.querySelector('iron-ajax').generateRequest();
		}
	});
</script>
