<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-input/iron-input.html">

<dom-module id="alarm-form">
	<template>
		<style>
			:host {
				display: block;
			}
		</style>
		<input is="iron-input" type="time" step="900" value="{{ time::input }}" on-change="_change">
		<div class="paper-checkbox-group">
			<label><input type="checkbox" value="0" checked$="{{ containsDay(days.*, 0) }}" on-change="_change">Monday</label>
			<label><input type="checkbox" value="1" checked$="{{ containsDay(days.*, 1) }}" on-change="_change">Tuesday</label>
			<label><input type="checkbox" value="2" checked$="{{ containsDay(days.*, 2) }}" on-change="_change">Wednesday</label>
			<label><input type="checkbox" value="3" checked$="{{ containsDay(days.*, 3) }}" on-change="_change">Thursday</label>
			<label><input type="checkbox" value="4" checked$="{{ containsDay(days.*, 4) }}" on-change="_change">Friday</label>
			<label><input type="checkbox" value="5" checked$="{{ containsDay(days.*, 5) }}" on-change="_change">Saturday</label>
			<label><input type="checkbox" value="6" checked$="{{ containsDay(days.*, 6) }}" on-change="_change">Sunday</label>
		</div>
		<button on-click="_submit">Save</button>
		<button on-click="_cancel">Cancel</button>
	</template>
</dom-module>

<script>
	Polymer({
		is: 'alarm-form',

		properties: {
			resourceUrl: String,
			resourceHeaders: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			},
			alarmId: 0,
			time: '',
			hours: 0,
			minutes: 0,
			days: [],
			valid: false
		},

		ready: function () {
			if (this.alarmId) {
				fetch(this.getPath(), {
					method: 'GET',
					headers: this.resourceHeaders
				})
				.then(function (response) { return response.json() })
				.then(function (alarm) {
					this.set('hours', alarm.hours);
					this.set('minutes', alarm.minutes);
					this.set('time', alarm.hours + ':' + alarm.minutes);
					this.set('days', alarm.days);
				}.bind(this))
				.catch(console.error.bind(console))
				;
			}
		},

		getData: function () {
			return {
				id: this.alarmId,
				hours: this.hours,
				minutes: this.minutes,
				days: this.days
			};
		},

		_submit: function () {
			fetch(this.getPath(), {
				method: 'POST',
				headers: this.resourceHeaders,
				body: JSON.stringify(this.getData())
			})
			.then(this.fire.bind(this, 'close'))
			.catch(console.error.bind(console))
			;
		},

		_cancel: function () {
			this.fire('close');
		},

		listener: {
			'change': '_change'
		},

		_change: function () {
			if (this.time) {
				this.hours = +this.time.split(':')[0];
				this.minutes = +this.time.split(':')[1];
			}
			var days = [],
				checkboxes = this.querySelectorAll('input[type=checkbox]');
			for (var i = 0; i < checkboxes.length; i++) {
				if (checkboxes[i].checked) {
					days.push(+checkboxes[i].value);
				}
			}
			this.days = days;
		},

		containsDay: function (change, index) {
			return this.days.indexOf(index) >= 0;
		},

		getPath: function () {
			if (this.alarmId) {
				return this.resourceUrl + '/' + this.alarmId;
			}
			return this.resourceUrl;
		}
	});
</script>